extends ../layout/layout
block content
        .container  
            .rows( style="text-align: right;") 
                form( action="/add"  method="post" )
                    h3 اظافة مركز 
                    hr
                    .form-row 
                        .form-group.col-md-6 
                            label(for="name") اسم المركز 
                            input.form-control( type="text" name="name" id="name" ) 
                        .form-group.col-md-6 
                            label( for="phone") هاتف المركز 
                            input.form-control( type="number"  name="phone" id="phone") 
                    .form-group 
                        label( for="address") العنوان   
                        input.form-control(type="text" name="address"  id="address" placeholder="1234 Main St" )
                    .form-group 
                        label( for="jurisdiction") الاختصاص 
                        input.form-control( type="text" name="jurisdiction" id="jurisdiction" placeholder="Apartment, studio, or floor" )
                    .form-group  
                        label( for="description") الخريطة 
                        input( type="url" name="description" class="form-control" id="description" ) 
                           //- iframe.b-r(src= center.description width="100%" height="200px" style="border:0" allowfullscreen="allowfullscreen")
                         
                        .form-group.col-md-6 
                            button.btn.btn-primary( type="submit" class="" style="margin: 10px;float: left;") اظافة  

//- code bootstrap
