div.container"  
        div.rows   
                div.col-sm-6 col-md-4" style="display: contents;" 
                    a(href="%=  '/' + center.id % ".btn b-r " style="padding: 10px;")
                        div. col-lg-4.b-r(style =" padding : 0;" )
                            div.card.b-r( style="width: 18rem;" )
                                img.card-img-top.clip-1.b-r(src="/imges/bg.png" )  
                                div.card-body.ThreeSteps 
                                    h5.card-title= center.name  
                                    h6.address.b-r= center.address  