extends ../themes/header  
    div.container 
        .row.sh.b-r(style="margin: 20px  0 0 0 ;")
            .body-c
                img(src="/imges/bg.png" class="card-img-top clip-1 b-r") 
                h1= center.name   
                table.table.table-striped 
                    tbody
                        tr 
                            td الهاتف
                            td 
                                a.p2(href="tel:00961" + center.phone )
                                    center.phone   
                        tr
                            td دعم الامم المتحدة 
                            td لا يوجد  
                        tr 
                            td الاختصاص   
                            td= center.jurisdiction 
                        tr 
                            td المدينة 
                            td= center.address  
            article.body-c  
                p العنوان على الخريطة 

                iframe.b-r(src="%= center.description % " width="100%" height="200px" style="border:0" allowfullscreen="allowfullscreen")
                a(href="" class="btn btn-primary")  edit 
                a(href="" class="btn btn-danger")  Delete 
                p= center.date.toLocaleDateString('ar-EG')
extends ../themes/footer 