@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,200);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
body {
  margin: 0;
  padding: 0;
}

.sh, .sb, nav a.nav-item, form, .login .formn input, .btns, .btn1, .bor3:hover, .bor1:hover, .p-box, nav, .icard {
  box-shadow: 1px 1px 10px #ddd;
}

.b-r15, .icard {
  border-radius: 15px;
}

.b-r, .sb, nav a.nav-item, form, .login .formn input, .btns, .btn1, .login:focus {
  border-radius: 10px;
}

.ta-c, h1, body, p, .contact, .address, .rows div a {
  text-align: center;
}

.ta-r, .box, .body-c, nav a.nav-item, .icard, h3, .cola, .login {
  text-align: right;
}

.ta-l {
  text-align: left;
}

.m-auto {
  margin: 0 auto;
}

* {
  text-decoration-line: none;
}

body {
  padding-top: 54px;
  font-family: 'Tajawal', sans-serif;
}

p {
  padding: 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.img {
  Width: 30px;
}

.bor3 {
  border-radius: 15px;
  margin: 10px;
  height: 200px;
  padding: 10px;
}

.bor1 {
  margin: 10px;
  height: 377px;
}

.bor1:hover {
  border-radius: 0 0 15px 15px;
}

.wi {
  width: 100%;
}

.bgt {
  padding: 80px;
  font-size: 20px;
}

.img2 {
  width: 100%;
}

.box {
  display: inline-block;
  margin: 15px 0 0 0;
  padding: 25px 13px 15px 15px;
}

.p2 {
  display: inline-block;
}

.p2 p {
  padding: 0;
  margin-bottom: 0;
}

.p-box {
  padding: 3px;
  width: 300px;
  margin: 5px;
}

footer {
  width: 100%;
}

.imgh {
  opacity: 0.3;
  background-repeat: no-repeat;
  height: 200px;
  background-size: cover;
}

footer {
  clear: both;
}

.contact {
  align-content: center;
  width: 300px;
  padding: 20px;
  margin: 100px auto 50px auto;
  border-radius: 15px;
}

.clip-1 {
  background-size: cover;
  background-position: -100px 0;
  background-repeat: no-repeat;
  -webkit-clip-path: ellipse(90% 70% at 0% 50%);
  clip-path: ellipse(90% 70% at 50% 20%);
  -webkit-shape-outside: ellipse(90% 70% at 50% 20%);
  shape-outside: ellipse(90% 70% at 50% 70%);
  -webkit-shape-margin: 2em;
  shape-margin: 2em;
}

.body-c {
  margin: 10px;
  width: 500px;
}

.address {
  padding: 5px 10px;
  border: 1px solid #00ff0a;
  margin: 4px;
  float: left;
  height: 35px;
  white-space: nowrap;
}

.bor3 p {
  margin: 10px;
}

.table-striped tbody tr {
  background-color: #ffffff0d;
}

.rows {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 17px;
  direction: rtl;
}

.rows div a {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  vertical-align: middle;
  cursor: pointer;
  padding: 10px;
}

.rows div a:hover {
  text-decoration: none;
}

nav {
  background-color: white;
}

nav a.nav-item {
  padding: 10px;
  margin: 5px 5px 0 5px;
}

.icard {
  display: grid;
  margin: 10px;
}

h3 {
  font-size: 1.5rem;
}

.cola {
  width: 18rem;
  height: auto;
  padding: 10px;
  margin: 10px;
}

.bor4 {
  border-radius: 15px;
  margin: 5px;
  box-shadow: 0 0 4px #ddd;
  padding: 10px;
  width: 100%;
}

.col {
  display: inline-flex;
  flex-direction: unset;
}

form {
  padding: 10px;
}

.login {
  width: 350px;
  margin: 10px auto;
  display: grid;
}

.login h4 {
  margin-right: 20px;
}

.login .formn {
  margin: 10px;
}

.login .formn a {
  margin: 10px 0 0 0;
  color: #007bff;
}

.login .formn input {
  padding: 5px 15px;
  width: 100%;
  border: 0;
  height: 3em;
}

.login:focus {
  color: #534;
  border: 4px solid #cbb;
}

.btn {
  display: inline-block;
  color: #fff;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  background-color: #0d7ec4;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btns {
  margin: 10px;
  width: 90%;
}

.btns img {
  width: 30px;
  margin: 0 10px;
}

.btn1 {
  margin: 10px;
  width: 90%;
  color: #007bff;
  background-color: white;
}

.btn1 img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
