<%- include('header.ejs') -%>
    <%- include('nav.ejs') -%>

        <div class="container">
            <div class="row">
                <!--    <div class="col ">-->
                <!-- Blog Post -->

                <div class="col col-lg-4">
                    <div class="card bor3" style="width: 18rem;">

                        <h1>من نحن</h1>
                        <p>نحنا فريق عمل التطبيق نعمل لنكون عوننا لكم</p>

                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="card bor3" style="width: 18rem;">

                        <h1>اهدافنا</h1>
                        <p>ان نساهم في مساعدة المرضى والمحتاجين ونسهل عليهم حياتهم اليومية ونسعى لان نغطي كامل المحرر بخدمتنا</p>


                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="card bor3" style="width: 18rem;">

                        <h1>خطة العمل</h1>
                        <p>توفير تطبيق ويب وتطبيق اندرويد بالاظافة للدعم على ارض الواقع</p>

                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="card bor3" style="width: 18rem;">

                        <h1>اصدار التصميم الاصدار</h1>
                        <p>1.3.9</p>

                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="card bor3" style="width: 18rem; height: auto; display: table-caption;">

                        <h1>تم تصميم الموقع ب</h1>
                        <p class="address sh b-r">html5 </p>
                        <p class="address sh b-r">css3</p>
                        <p class="address sh b-r">bootstrap4</p>
                        <p class="address sh b-r">scss</p>
                        <p class="address sh b-r">node.js</p>
                        <p class="address sh b-r">express</p>
                        <p class="address sh b-r">mongodb</p>
                        <p class="address sh b-r"> Material Icons</p>

                        <p class="address sh b-r"> host :github + netlify</p>
                        <p></p>
                    </div>
                </div>

                </section>
                <%- include('footer.ejs') -%>