<!-- تاثيرات جانيبة -->




<%- include('header.ejs') -%>
    <%- include('nav.ejs') -%>
        < <section>
            <div class="contact shadow">
                <br>
                <h5>تواصل معنا على رقم الهاتف </h5>
                <h5> <a class="p2" href="tel:+96170723177">70723177</a></h5>
                <br>
                <h5>تواصل معنا على الايميل </h5>
                <h5> <a class="p2" href="mailto:ktsyr1@gmail.com">ktsyr1@gmail.com</a></h5>
                <h5>تواصل معنا على تلغرام </h5>
                <h5> <a class="p2" href="https://t.me/ktsyr1">ktsyr1</a></h5>
            </div>
            </section>
            <%- include('footer.ejs') -%>