<div class="container">
    <% chunk.forEach((center) => {%>
        <div class="rows ">
            <% center.forEach((center)=> {%>
                <div class="col-sm-6 col-md-4" style="display: contents;">
                    <a href="<%=  '/ar/' + center.id %>" class="btn b-r " style="padding: 10px;">
                        <div class=" col-lg-4 b-r" style="padding: 0;">
                            <div class="card b-r" style="width: 18rem;">
                                <img src="/imges/bg.png" class="card-img-top clip-1 b-r" />
                                <div class="card-body ThreeSteps">
                                    <h5 class="card-title">
                                        <%= center.name %>
                                    </h5>
                                    <h6 class="address b-r">
                                        <%= center.address %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </a>
                    <%}) %>
                </div>
                <%}) %>
        </div>
</div>