extends header 
block content 
    div.container 
        div.row 
            div.col.col-lg-4 
                div.card.bor3(style="width: 18rem;")
                    h1 من نحن 
                    p نحنا فريق عمل التطبيق نعمل لنكون عوننا لكم   
            div.col.col-lg-4 
                div.card.bor3( style="width: 18rem;" ) 
                    h1 اهدافنا 
                    p ان نساهم في مساعدة المرضى والمحتاجين ونسهل عليهم حياتهم اليومية ونسعى لان نغطي كامل المحرر بخدمتنا  
            div.col.col-lg-4 
                div.card.bor3(  style="width: 18rem;" ) 
                    h1 خطة العمل 
                    p توفير تطبيق ويب وتطبيق اندرويد بالاظافة للدعم على ارض الواقع  
            div.col col-lg-4" 
                div.card.bor3( style="width: 18rem;")  
                    h1 اصدار التصميم الاصدار 
                    p 1.3.9  
            div.col col-lg-4" 
                div.card bor3" style="width: 18rem; height: auto; display: table-caption;"  
                    h1 تم تصميم الموقع ب/h1 
                        p.address.sh.b-r html5  
                    p.address.sh.b-r css3 
                    p.address.sh.b-r bootstrap4 
                    p.address.sh.b-r scss 
                    p.address.sh.b-r node.js 
                    p.address.sh.b-r express 
                    p.address.sh.b-r mongodb 
                    p.address.sh.b-r  Material Icons 
                    p.address.sh.b-r  host :github + netlify  