<a href="/show" class="btn b-r cards ">
    <div class="col col-lg-4 b-r">
        <div class="card b-r" style="width: 18rem;">
            <img src="/imges/bg.png" class="card-img-top clip-1 b-r" />
            <div class="card-body ThreeSteps">
                <h5 class="card-title ">مركز برلياس الصحي</h5>
            </div>
        </div>
    </div>
</a>