 
.navbar.navbar-expand-lg.navbar-light.bgf.fixed-top 
    .container 
        button.navbar-toggler(  type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" )
            .navbar-toggler-icon   
        .bgf 
            a.navbar-brand(href="/" )
                img( src="/imges/logo.png" style="height:40px ;")  
        div.collapse.navbar-collapse( id="navbarNavDropdown" )
            u.navbar-nav.ml-auto 
                li.nav-item 
                    a.nav-link(href="/") الرئيسية 
                li.nav-item 
                    a.nav-link(href="/add") اضافة 
                li.nav-item 
                    a.nav-link(href="/contact") اتصل بنا 
                li.nav-item 
                    a.nav-link( href="/about")  عن الموقع 