extends layout 
block content 
    div.container(style="display:inline")
        .row.row-cols-1.row-cols-sm-2.row-cols-md-4(style="margin: 0")
            div.col 
                div.bor4
                    h3 من نحن 
                    p نحنا فريق عمل التطبيق نعمل لنكون عوننا لكم   
            div.col 
                div.bor4
                    h3 اهدافنا 
                    p ان نساهم في مساعدة المرضى والمحتاجين ونسهل عليهم حياتهم اليومية ونسعى لان نغطي كامل المحرر بخدمتنا  
            div.col 
                div.bor4
                    h3 خطة العمل 
                    p توفير تطبيق ويب وتطبيق اندرويد بالاظافة للدعم على ارض الواقع  
            div.col 
                div.bor4 
                    h3 اصدار التصميم الاصدار 
                    p 1.3.9  
            div.col 
                div.bor4 
                    h3 تم تصميم الموقع ب
                    p.address.sh.b-r html5  
                    p.address.sh.b-r css3 
                    p.address.sh.b-r bootstrap4 
                    p.address.sh.b-r scss 
                    p.address.sh.b-r node.js 
                    p.address.sh.b-r express 
                    p.address.sh.b-r mongodb 
                    p.address.sh.b-r  Material Icons 
                    p.address.sh.b-r  host :github + netlify  


//- code bootstrap
