extends header 
block content 
    section
        .contact.shadow
            br 
            h5 تواصل معنا على رقم الهاتف  
            h5  
                a.p2(href="tel:+96170723177") 70723177   
            br 
            h5 تواصل معنا على الايميل  
            h5  
                a.p2( href="mailto:ktsyr1@gmail.com" ) ktsyr1@gmail.com   
            h5 تواصل معنا على تلغرام  
            h5 
                a.p2(  href="https://t.me/ktsyr1") ktsyr1   

//- code bootstrap
