footer.page-footer.font-small.blue.shadow-lg.bgc 
    br  
    hr  
    .ooter-copyright.text-center.py-3 © (2019/11/29) تصميم:
        b v 1.4.0b 
            a( href="https://ktsyr1.netlify.com/app" style="color:#f00;") قتيبة محمد 
//- script( src="https://code.jquery.com/jquery-3.4.1.slim.min.js"   crossorigin="anonymous") 
//- script( src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"  crossorigin="anonymous" )
//- script( src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"  crossorigin="anonymous") 
  

//- code bootstrap
