html( lang="ar"  )
    head 
        meta( charset="utf-8" ) 
        meta( name="theme-color" content="#317EFB")  
        meta( name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")  
        link( rel="manifest" href="/manifest.json")  
        link( rel="stylesheet" href="/css/bootstrap.min.css") 
        link( rel="stylesheet" href="/css/style.css")  
        link( rel="stylesheet" href="/css/nav/nav.css")  
        //- link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet",  crossorigin="anonymous")
        title=  title
    body( style="direction: rtl")   
        include nav
        include alert
        block content 
        script(src="/js/min.js")
        include footer
