 
nav.navbar.navbar-expand-lg.navbar-light.bgf.fixed-top 
    .container 
        button.navbar-toggler(  type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" )
            .navbar-toggler-icon   
        .bgf 
            a.navbar-brand(href="/" )
                img( src="/imges/logo.png" style="height:40px ;")  
        div.collapse.navbar-collapse( id="navbarNavDropdown" )
            u.navbar-nav.ml-auto 
                a.nav-item(href="/") الرئيسية 
                a.nav-item(href="/add") اضافة 
                a.nav-item(href="/contact") اتصل بنا 
                a.nav-item( href="/about")  عن الموقع 
                br
        u.navbar-nav.ml-auto(style="display: contents;")
            a.nav-item(href="/user/login") تسجيل الدخول 
            a.nav-item(href="/user/signup") تسجيل

//- code bootstrap