include layout 
block content

- var txet = "ان شاء الله في هذا الدرس سنقوم بعمل استماره جديدة لتعديل الفعالية "

    p= app

.cards
    each app in [[txet +34729857389],txet+txet,txet+txet+txet,txet+txet,txet]
        .m
            .card
                h4= app
                p.time 2020/1/13
                div
                    p.right.can  الامارات العربية المتحدة
                    a.left(href="#") المزيد
                
